/* @import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap); */

/* body {
    background-size: cover;
    background-repeat: no-repeat;   
    width: 100vw;
     background-color: rgb(253, 253, 253);
	font-family: 'Bebas Neue', cursive;
    background-position-y: -100px;

}
.formContainer {
    position: relative;
    left: 700px;
    max-width: 500px;
    bottom: -80px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black;
}

button {
    display: flex;
    justify-content: center;
} */