* {
   margin: 0;
   padding: 0;
 }


.navbar-container {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   font-size: 2rem;
   background-color: #ED6C6D;
   list-style-type: none ;
}