
* {
    margin: 0;
    padding: 0;
  }

@font-face{
    font-family: 'Roboto';
    src: url("Font/Roboto-Regular.ttf") format("truetype");
}

a {
    color: white;
    text-decoration: none;
}

#copilot-link {
    color: #ED6C6D;
    font-weight: bold;
}

body{
    background-color: #FFF7F0;
    /* max-width: 100%;     en doublon            */
    font-family: 'Roboto';
    max-width: 100%;
}

.wild-post-logo-holder {
    background-color: #ED6C6D;
    display: flex;
    justify-content: center;
}

.wild-post-logo {
    display: inline-block;
    align-self: center;
    height: 10vh;
    width: auto;
}

.navbar {
    position: sticky;
    top: 0;
  }
     
.navbar-container {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
    background-color: #ED6C6D;
    list-style-type: none ;
    color: #fff7f0;
}
 
#logo {
    height: 4vh;
}

.h1Title  {
    font-size: 6vw;
    margin: auto;
    text-align: center;
    text-decoration: 3px solid underline;
    padding-bottom: 1rem;
}
/* start ALaUne */
.imageALaUne {
    width: 100%;
    height: auto;
}

.h2ALaUne {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.pALaUne {
    margin-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: justify;

}

/* end ALaUne */

/* start Interview */


.caroussel {
    background-image: url(Assets/wild-background.png)   ;
    margin-top: 3rem;
}
 
 
 .box-container {
     display: flex;
     flex-direction: row;
     min-height: 75vh;
     overflow-x: scroll;
     padding: 1rem;
 }
 
 
 .article-container {
     max-height: 70vh;
     min-width: 85%;
     background-color: #fffbf7;
     margin: 0.4rem;
     padding: 0.7rem;
     box-shadow: #e52f30 0px 5px 15px;
     border: solid 5px #e84344;
     border-radius: 1%;  
 }
 
 
 .caroussel-image {
     width: 100%;
     box-shadow: 10px 10px 5pxrgb(241, 228, 216)0;
     min-width: 90%;
     min-height: 20vh;
 }
 
 .article {
     display: flex;
     flex-direction: column;
     width: 100%;
 }
 
 .paragraph {
     text-align: justify;
     margin-top: 1rem;
 }
 
 .name-bold {
     font-weight: bold;
     font-size: 1.1rem;
 }
 
 .imageCaroussel {
     width: 290px;
 }

 .imageCarousselTem {
     width: 290px;
 }

.articleInterview {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 5px solid #ED6C6D;
    border-radius: 10px 30px 30px 30px;
}
.titreInterview {
    height: auto;
    padding-bottom: 0.5rem;
    text-align: center;
}
.imageInterview {
    width: 40vw;
    height: auto;
    float: left;
    margin-right: 1rem;
}
.textInterview {
    grid-column: 2 / 4;
    grid-row: 2;
    text-align: justify;
}
@media only screen and (min-width: 800px) {
    .imageInterview {
        width: 30vw;
    }
}
@media only screen and (min-width: 1200px) {
    .articleInterview {
        margin: 10rem;
        padding: 1rem;
        border: 5px solid #ED6C6D;
        border-radius: 10px 30px 30px 30px;
    }
    .titreInterview {
        width: max-content;
        height: auto;
        padding-bottom: 0.5rem;
        text-align: center;
    }
    .imageInterview {
        width: 20vw;
        height: auto;
        float: none;
        margin-right: 1rem;
    }
}
/* end Interview */
.formContainer {
display: flex;
justify-content: center;
flex-direction: column;
max-width: 200px;
margin: auto;
margin-bottom: 3rem;
}

form div{
    margin: 0.7rem;
}

.h2Contact{
    color: #ED6C6D;
   
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    padding-top: 10%;
    border-top: solid 2px #ED6C6D;
}

input {
    padding: 0.3rem;
    border-radius: 10%;
}

#formTextarea{
    border-radius: 3%;
    padding: 0.3rem;
    border: solid 1.5px black;
}

#submitz{
    width: 90px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding: 0.5rem;
    background-color: #ED6C6D;
    color: white;
    font-weight: bold;
    border-radius: 10%;
}

#submitz:hover{
    background-color: white;
    color: #ED6C6D;
}

label{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
}

.TitreQL{
    margin-top: 5vh; 
    display: flex;
    justify-content: center;
}

.articleQl{
    text-align: justify;
    margin-left: 1rem;
    margin-right: 1rem;
}

#logoQL{
    margin-top: 2rem;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    width: 80%;
}
/* debut de la partie footer */
.footer{
    background-color: #ED6C6D;
    padding: 0.9rem;
    margin-top: 0.5rem;
}
.logo{
    height: 20px;
}
.createur{
    margin-top: 0.2rem;
    font-size: 0.5rem;
}

.logo_container{
    display: flex;
    justify-content: space-around;
}
/* fin de la partie footer */

  
/* mediaquery big displays */

@media only screen and (min-width: 812px) {

/* Navbar */

.navbar {
    position: sticky;
    top: 0;
}

#logo {
    height: 8vh;
  }
    
.navbar-container {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    background-color: #ED6C6D;
    list-style-type: none;
    color: #fff7f0;
}

/* Logo */

.wild-post-logo-holder {
    background-color: #ED6C6D;
    display: flex;
    justify-content: center;
}
.wild-post-logo {
    height: 30vh;
    width: auto;
}
    
/* Wild shorts */

.caroussel {
    background-image: url(Assets/wild-background.png)   ;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: ;
    width: 80%;
}

.article-container {
    display: flex;
    flex-direction: row;
    background-color: #FFF7F0;
    margin-top: 3vh;
}

.caroussel-image {
    width: 100%;
    box-shadow: 10px 10px 5pxrgb(241, 228, 216)0;
    min-width: 90%;
    min-height: 20vh; 
}
    
#article-container-tem {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #FFF7F0;
    margin-top: 3vh;
}
    
.imageCaroussel {
    width: 400px;

}

.imageCarousselTem {
    display: inline-block; 
    width: 600px;
    height: 200px;
    align-self: center;
}
    
.article-text {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

/* QL article */

#logoQL {
    display: block;
    align-self: center;
}

.articleQLHolder {
    display: flex;
    flex-direction: row-reverse;
    padding: 3rem;
}

.articleQl {
    display: inline-block;
    align-self: center;
    padding: 3rem;
}
  
/* debut de la partie pc du footer */
.footer{
    background-color: #ED6C6D;
}
.logo{
    height: 30px;
    margin-left: 1rem;
}

.logo_container{
    display: flex;
    justify-content:flex-start;
}
.createur{
    font-size: 1rem;
}
.link_linkedin:hover{
background-color: gray;
}
.link_linkedin{
    color: indigo;
}
/* fin de la partie pc du footer */

.textQL {
    display: flex;
    flex-direction: column;

}

}